.test_image_and_result .col-xs-12 {
    background-color: aqua;
}
.col-sm-4 .col-xs-12 {
    background-color: blueviolet;
}
#h3lol {
    color: crimson;
}

#e {
    background-color: darkblue;
}

#greem {
color: chartreuse;
}